{{>licenseInfo}}
import * as models from './models';

{{#models}}
{{#model}}
{{#description}}
/**
 * **`{{classname}}`** {{{description}}}
 */
{{/description}}
export interface {{classname}} {{#parent}}extends {{{parent}}} {{/parent}}{
{{#vars}}
{{#description}}
  /**
   * **`{{name}}`** {{{description}}}
   */
{{/description}}
  "{{name}}"{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};
{{/vars}}
}

{{#hasEnums}}
export namespace {{classname}} {
{{#vars}}
{{#isEnum}}
  export enum {{enumName}} {
  {{#allowableValues}}
  {{#enumVars}}
  {{#description}}
  /**
   * **`{{name}}`** {{{description}}}
   */
  {{/description}}
    {{{name}}} = <any> {{{value}}}{{^-last}},{{/-last}}
  {{/enumVars}}
  {{/allowableValues}}
  }
{{/isEnum}}
{{/vars}}
}
{{/hasEnums}}
{{/model}}
{{/models}}
