{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
import {{ classname }} from './{{ classFilename }}';
{{/operations}}
{{/apis}}
export const APIS = { {{#apis}}{{#operations}}{{ classname }}{{^@last}},{{/@last}}{{/operations}}{{/apis}} };
{{/apiInfo}}
