{{#models}}
{{#model}}
export * from './{{{ classFilename }}}';
{{/model}}
{{/models}}
export type ModelInteger = number;
export type ModelFloat = number;
export type LocalDate = Date;
throw Error('禁止运行时引入 models.ts ！！！');